# Projeto 2 - Ciência dos Dados

______________________________________________________

## Participantes:


Henrique Andrade Albuqurque 


Mateus Marinheiro 


Matheus Constante

________________________________________

## Introdução

### Tema:

   Previsão da nota média do Enem de um aluno baseado nos seguintes features:

### Target:
 
 - NU_NOTA_REDACAO:
   - Nota final da Redação de 2022 por participante
   


### Features: 

 - TP_FAIXA_ETARIA:
   - Faixa Etária dos participantes
      - 1- Menor de 17 anos
      - 2- 17 anos
      - 3- 18 anos
      - 4- 19 anos
      - 5- 20 anos
      - 6- 21 anos
      - 7- 22 anos
      - 8- 23 anos
      - 9- 24 anos
      - 10- 25 anos
      - 11- Entre 26 e 30 anos
      - 12- Entre 31 e 35 anos
      - 13- Entre 36 e 40 anos
      - 14- Entre 41 e 45 anos
      - 15- Entre 46 e 50 anos
      - 16- Entre 51 e 55 anos
      - 17- Entre 56 e 60 anos
      - 18- Entre 61 e 65 anos
      - 19- Entre 66 e 70 anos
      - 20- Maior de 70 anos

 - TP_SEXO: 
    - Sexo do Participante
      - M - Masculino
      - F - Feminino
 - TP_COR_RAÇA:
    - Cor/Raça do participante
      - 0- Não declarado
      - 1- Branca
      - 2- Preta
      - 3- Parda
      - 4- Amarela
      - 5- Indígina
      - 6- Não dispõe da informação
 - TP_ANO_CONCLUIU:
    - O indicador do ano de conclusão do Ensino Médio
      - 0- Não informado
      - 1- 2021
      - 2- 2020
      - 3- 2019
      - 4- 2018
      - 5- 2017
      - 6- 2016
      - 7- 2015
      - 8- 2014
      - 9- 2013
      - 10- 2012
      - 11- 2011
      - 12- 2010
      - 13- 2009
      - 14- 2008
      - 15- 2007
      - 16- Antes de 2007
 - TP_ESCOLA:
    - Tipo de escola do Ensino Médio:
       - 1- Não respondeu
       - 2- Pública
       - 3- Privada

________

Carregando algumas bibliotecas:

In [18]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [19]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
c:\Users\Mateus Marinhero\Documents\Insper\2023\2o Semestre\Ciência dos Dados\Projeto2\Projeto-2-Ciencia-dos-Dados

Carregando a base de dados:

In [42]:
dados = pd.read_excel('DADOS\MICRODADOS_ENEM_ESCOLA.xlsx')

In [43]:
print(type(dados))

<class 'pandas.core.frame.DataFrame'>

In [45]:
dados.dtypes

NU_ANO                         int64
CO_UF_ESCOLA                   int64
SG_UF_ESCOLA                  object
CO_MUNICIPIO_ESCOLA            int64
NO_MUNICIPIO_ESCOLA           object
CO_ESCOLA_EDUCACENSO           int64
NO_ESCOLA_EDUCACENSO          object
TP_DEPENDENCIA_ADM_ESCOLA      int64
TP_LOCALIZACAO_ESCOLA          int64
NU_MATRICULAS                  int64
NU_PARTICIPANTES_NEC_ESP     float64
NU_PARTICIPANTES               int64
NU_TAXA_PARTICIPACAO         float64
NU_MEDIA_CN                  float64
NU_MEDIA_CH                  float64
NU_MEDIA_LP                  float64
NU_MEDIA_MT                  float64
NU_MEDIA_RED                 float64
NU_MEDIA_OBJ                 float64
NU_MEDIA_TOT                 float64
INSE                          object
PC_FORMACAO_DOCENTE          float64
NU_TAXA_PERMANENCIA          float64
NU_TAXA_APROVACAO            float64
NU_TAXA_REPROVACAO           float64
NU_TAXA_ABANDONO             float64
PORTE_ESCOLA                  object
dtype: object

In [53]:
# Criando base de dados com os filtros baseados no target e nos features

dados = dados.loc[:,['NO_MUNICIPIO_ESCOLA', 'TP_DEPENDENCIA_ADM_ESCOLA', 'TP_LOCALIZACAO_ESCOLA', 'NU_MEDIA_TOT', 'INSE', 'PORTE_ESCOLA']]
dados

,NO_MUNICIPIO_ESCOLA,TP_DEPENDENCIA_ADM_ESCOLA,TP_LOCALIZACAO_ESCOLA,NU_MEDIA_TOT,INSE,PORTE_ESCOLA
0,Porto Velho,4,1,69.03,NaN,Maior que 90 alunos
1,Porto Velho,4,1,57.82,NaN,Maior que 90 alunos
2,Porto Velho,4,1,64.83,NaN,Maior que 90 alunos
3,Porto Velho,4,1,NaN,NaN,Maior que 90 alunos
4,Porto Velho,4,1,58.84,NaN,De 1 a 30 alunos
...,...,...,...,...,...,...
172300,Brasília,2,1,NaN,NaN,Maior que 90 alunos
172301,Brasília,2,1,NaN,NaN,Maior que 90 alunos
172302,Brasília,2,1,NaN,Grupo 3,Maior que 90 alunos
172303,Brasília,4,1,NaN,NaN,De 1 a 30 alunos
172304,Brasília,4,1,NaN,Grupo 5,De 1 a 30 alunos

In [56]:
#Limapando os dados de linhas com valores nulos

dados = dados.loc[(dados['NU_MEDIA_TOT'].notnull()) & (dados['INSE'].notnull()) & (dados['PORTE_ESCOLA'].notnull())]
dados

Empty DataFrame
Columns: [NO_MUNICIPIO_ESCOLA, TP_DEPENDENCIA_ADM_ESCOLA, TP_LOCALIZACAO_ESCOLA, NU_MEDIA_TOT, INSE, PORTE_ESCOLA]
Index: []

## Referências:

 - https://www.gov.br/inep/pt-br/acesso-a-informacao/dados-abertos/microdados